<style>
     td {
         padding: 30px 10px 10px 10px;
    }

</style>

{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<form action="#" method="post">
    {% csrf_token %}
    <div>
        {{ form.nazwa_firmy|as_crispy_field }}
    </div>
    <div>
        {{ form.numer_NIP|as_crispy_field }}
    </div>
    <div>
        {{ form.rok|as_crispy_field }}
    </div>
    <br><br>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>AKTYWA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form.aktywa_trwałe|as_crispy_field }}</td>
                        <td>{{ form.aktywa_obrotowe|as_crispy_field }}</td>
                        <td>{{ form.zapasy|as_crispy_field }}</td>
                        <td>{{ form.należności_krótkoterminowe|as_crispy_field }}</td>
                        <td>{{ form.należności_handlowe|as_crispy_field }}</td>
                        <td>{{ form.należności_podatkowe|as_crispy_field }}</td>
                        <td>{{ form.inwestycje_krótkoterminowe|as_crispy_field }}</td>
                        <td>{{ form.środki_pieniężne|as_crispy_field }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>PASYWA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form.kapitał_podstawowy|as_crispy_field }}</td>
                        <td>{{ form.rezerwy_i_rozliczenia_międzyokresowe|as_crispy_field }}</td>
                        <td>{{ form.zobowiązania_długoterminowe|as_crispy_field }}</td>
                        <td>{{ form.zobowiązania_długoterminowe_finansowe|as_crispy_field }}</td>
                        <td>{{ form.zobowiązania_krótkoterminowe|as_crispy_field }}</td>
                        <td>{{ form.zobowiązania_krótkoterminowe_finansowe|as_crispy_field }}</td>
                        <td>{{ form.zobowiązania_handlowe|as_crispy_field }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form.przychody|as_crispy_field }}</td>
                        <td>{{ form.wynik_z_działalności_operacyjnej|as_crispy_field }}</td>
                        <td>{{ form.amortyzacja|as_crispy_field }}</td>
                        <td>{{ form.wynik_brutto|as_crispy_field }}</td>
                        <td>{{ form.podatek_dochodowy|as_crispy_field }}</td>
                    </tr>
                </tbody>
            </table>
        </div><br><br>
    <input type="submit" value="Przelicz"/>
</form>

{% endblock %}