<style>
    .mybold {
        font-weight: bold;
    }
</style>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} {% endblock %}
{% block content %}

    <h2>Company:</h2>
    <h3>Name: {{ company_name }}</h3>
    <h3>NIP: {{ number_nip }} </h3>
    <h3>Year: {{ year_result }} </h3>
    <h3>Category: {{ category }} </h3>
    <br>
    <br>

    <div style="width: 35%">
        <table class="table">
            <tbody>
                <tr>
                    <td class="mybold">Aktywa trwałe: </td>
                    <td>{{ assets_fixed }}PLN</td>
                    <td class="mybold">Kapitał własny: </td>
                    <td>{{ equity }}PLN</td>
                    <td class="mybold">Przychody: </td>
                    <td>{{ revenue }}PLN</td>
                    <td>Kapitał własny / suma bilansowa: </td>
                    <td>{{ capitalization }}%</td>
                </tr>
                <tr>
                    <td class="mybold">Aktywa obrotowe: </td>
                    <td>{{ assets_current }}PLN</td>
                    <td>Kapitał podstawowy: </td>
                    <td>{{ capital_share }}PLN</td>
                    <td class="mybold">Zysk / Strata działalność operacyjna: </td>
                    <td>{{ profit_operating }}PLN</td>
                    <td>Płynność bieżąca:</td>
                    <td>{{ current_ratio }}x</td>
                </tr>
                <tr>
                    <td>Zapasy: </td>
                    <td>{{ stock }}PLN</td>
                    <td class="mybold">Rezerwy i rozliczenia międzyokresowe: </td>
                    <td>{{ provision_and_accruals }}PLN</td>
                    <td>Amortyzacja: </td>
                    <td>{{ depreciation }}PLN</td>
                    <td>Zobowiązania: </td>
                    <td>{{ debt_ratio }}PLN</td>
                </tr>
                <tr>
                    <td class="mybold">Należności krótkoterminowe: </td>
                    <td>{{ receivables_short_term }}PLN</td>
                    <td class="mybold">Zobowiązania długoterminowe: </td>
                    <td>{{ liabilities_long_therm }}PLN</td>
                    <td class="mybold">Zysk / Strata brutto: </td>
                    <td>{{ profit_gross }}PLN</td>
                    <td>Zobowiązania / kapitał własny: </td>
                    <td>{{ debt_to_equity_ratio }}%</td>
                </tr>
                <tr>
                    <td>Należności handlowe: </td>
                    <td>{{ receivables_trade }}PLN</td>
                    <td>Zobowiązania finansowe </td>
                    <td>{{ liabilities_long_therm_financial }}PLN</td>
                    <td>Podatek dochodowy: </td>
                    <td>{{ tax_income }}PLN</td>
                    <td>Obrót zobowiązaniami w dniach: </td>
                    <td>{{ liabilities_turnover_ratio }}dni</td>
                </tr>
                <tr>
                    <td>Należności z tyt. podatków, ceł, ubezp. społ: </td>
                    <td>{{ receivables_tax }}PLN</td>
                    <td class="mybold">Zobowiązania krótkoterminowe: </td>
                    <td>{{ liabilities_short_therm }}PLN</td>
                    <td class="mybold">Zysk / Strata netto: </td>
                    <td>{{ profit_net }}PLN</td>
                    <td>Obrót należnościami w dniach: </td>
                    <td>{{ receivables_turnover_ratio }}day</td>
                </tr>
                <tr>
                    <td class="mybold">Inwestycje krótkoterminowe: </td>
                    <td>{{ investments_short_term }}PLN</td>
                    <td>Zobowiązania finansowe: </td>
                    <td>{{ liabilities_short_therm_financial }}PLN</td>
                    <td></td>
                    <td></td>
                    <td>Marża operacyjna:</td>
                    <td>{{ profit_operating_margin }}%</td>

                </tr>
                <tr>
                    <td>Środki pieniężne: </td>
                    <td>{{ assets_cash }}PLN</td>
                    <td>Zobowiązania handlowe: </td>
                    <td>{{ liabilities_trade }}PLN</td>
                    <td></td>
                    <td></td>
                    <td>Marża zysku netto:</td>
                    <td>{{ profit_net_margin }}%</td>
                </tr>
                <tr>
                    <td class="mybold">SUMA AKTYWÓW: </td>
                    <td>{{ assets_total }}PLN</td>
                    <td class="mybold">SUMA PASYWÓW: </td>
                    <td>{{ liabilities_and_equity }}PLN</td>
                    <td></td>
                    <td></td>
                    <td>Zadłużenie fiansowe netto:</td>
                    <td>{{ debt_financial_net }}PLN</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>EBITDA 12M:</td>
                    <td>{{ ebitda }}PLN</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Zadłuzenie finansowe netto/EBITDA:</td>
                    <td>{{ debt_financial_net_to_ebitda }}x</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}